.ant-carousel .slick-slide {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel img {
  height: 105vh !important;
  width: 100vw !important;
  display: block;
}
