.login-bg {
  background-color: #fff;
}
.login-bg .login-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 300px;
  height: 250px;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 40px;
}
.login-bg .login-content h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.login-bg .login-content .login-form-button {
  width: 220px;
  margin-left: -70px;
}
.login-bg .login-content img {
  width: 20px;
  height: 20px;
  margin-left: 230px;
  margin-top: -10px;
  cursor: pointer;
}
.login-bg .login-content img:hover {
  transform: rotate(90deg);
  transition: all 0.5s;
}
