.login-bg {
  background-color: #fff;
}
.login-bg .login-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 40vw;
  height: 55vh;
  background-color: #fff;
  border-radius: 1vh;
  padding: 3vw 4vw;
}
.login-bg .login-content h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: -1vw;
}
.login-bg .login-content .login-form-button {
  width: 32vw !important;
}
.login-bg .login-content img {
  width: 3vw;
  height: 3vw;
  margin-left: 31vw;
  margin-top: -10px;
  cursor: pointer;
}
.login-bg .login-content img:hover {
  transform: rotate(90deg);
  transition: all 0.5s;
}
